.Rproj.user
.Rhistory
.RData
.Ruserdata
BighornThesis_1821.docx
stepturningdist42920.csv
stepturningdist42220.csv
steplengthallmtn14420.csv
steplengthallmtn141320.csv
output_srtmNopahElevation4520.tif
sl4allmtn_122620run1.csv
sl4almtn_122620run2_line141.csv
DanielleGlassESAPoster.pdf
DanielleGlassESAPoster.pptx
DanielleGlassESAPosterv2.pptx
MarbBrsSelevation.tif
MarbBrsSelevation.tif.ovr
Marbelevation41920.tif
MarblesBrsSElevation4520.tif
MarblesBrsSElevation4520.tif.ovr
GPSDataCleanedAll4Var43020.csv
RBighornThesisGPSDataCleaning.docx
cln1hrfix192720.csv
cln1hrfix1_11620.csv
eightall4mtndistwater2_1121.csv
fall4mtndistwater2_122720_4hr.csv
marballmtn141920.csv
marballmtn141920.xlsx
marbbeforetopodst.csv
SBRSelevation42220.tif
SBrselevationattempt4.tif
allvar41220.RData
allvar41920.RData
allvar42220.RData
.RDataTmp
.RDataTmp1
.RDataTmp2
AllVariables93021.RData
variables92720.RData

